# Compiled class file
*.class
*.balx
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.deb

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore everything in this directory
target
.classpath
.settings
.project
*.iml
*.iws
*.ipr
.idea
.m2
.vscode/
# Ignore ballerina files
accessToken.bal
temp.bal
*.conf
*Ballerina.lock
#Ignore doc files
target/
.ballerina

# Ignore resource .json files
**/resources/*.json

github/tests/Config.toml
github/modules/webhook/tests/Config.toml

Config.toml

# Ballerina related ignores
Ballerina.lock

# Compiled class file
*.class

# Log file
*.log

# DS_Store file
*.DS_Store

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Environment files
*.env

# Ignore all Dependencies.toml files in the examples directory
examples/**/Dependencies.toml
