name: CI

on:
  push:
    branches:
      - master
      - 2201.[0-9]+.x
  repository_dispatch:
    types:
      check_connector_for_breaking_changes

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      # Setup Ballerina Environment
      - name: Set Up Ballerina
        uses: ballerina-platform/setup-ballerina@v1.1.0
        with:
          version: latest

      # Build Ballerina Project
      - name: Ballerina Build
        run: bal pack ./ballerina
        env:
          JAVA_HOME: /usr/lib/jvm/default-jvm

      # Test Ballerina Project
      - name: Ballerina Test
        run: bal test ./ballerina --test-report --code-coverage --coverage-format=xml
        env:
          JAVA_HOME: /usr/lib/jvm/default-jvm
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          ORG_NAME: ${{ secrets.ORG_NAME }}
          USER_REPO_NAME: ${{ secrets.REPO_NAME }}
          ISSUE_ASSIGNEE: ${{ secrets.ASSIGNEE }}
          RESOURCE_PATH: ${{ secrets.RESOURCE_PATH }}
          JAVA_OPTS: -DBALLERINA_DEV_COMPILE_BALLERINA_ORG=true
          GITHUB_USERNAME: ${{ secrets.USERNAME }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3

      # Send notification when build fails
      - name: Alert notifier on failure
        if: failure() && (github.event.action == 'check_connector_for_breaking_changes')
        run: |
          curl -X POST \
          'https://api.github.com/repos/ballerina-platform/ballerina-release/dispatches' \
          --header 'Accept: application/vnd.github.v3+json' \
          --header 'Authorization: Bearer ${{ secrets.BALLERINA_BOT_TOKEN }}' \
          --data-raw '{
            "event_type": "notify-ballerinax-connector-build-failure",
            "client_payload": {
              "repoName": "module-ballerinax-github",
              "workflow": "CI"
            }
          }'
